<h1>edit:</h1>

<%= form_for @task, url: update_path, method: :patch do |f| %>
  <%= f.label :title  %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>


<!-- <input type="checkbox" name="vehicle1" value="Bike"> -->
